<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "str" class = "java.lang.String">
        <constructor-arg  value = "./Q.csv"/>
    </bean>
    <bean id="reader" class = "ru.otus.dao.Reader">
        <constructor-arg name = "filename" ref = "str"/>
    </bean>
    <bean id = "dao" class = "ru.otus.dao.Dao">
        <constructor-arg name = "reader" ref = "reader"/>
    </bean>
    <bean id = "console" class = "ru.otus.service.Console">
        <constructor-arg name = "dao" ref = "dao"/>
    </bean>
</beans>